.login {
  margin: 0;
  margin-top: 5em;
  padding: 0 3em;
}
.login h1 {
  font-family: 'Bebas Neue', sans-serif;
  margin: 0;
  margin-left: 10px;
}

.login h3 {
  font-size: 16px;
  color: rgb(44, 44, 44);
  margin: 0;
  padding: 0;
}

input[type='email'] {
  margin-top: 20px;
}

input[type='password'] {
  margin-bottom: 20px;
}

.login button {
  background: #6478d3;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 10px;
  letter-spacing: 0.2px;
  font-size: 16px;
  transition: background 0.7 ease;
}

.login button:hover {
  background-color: #4d60b3;
}

.login button:nth-of-type(2) {
  background-color: #b1cbcd;
}

.providerLogin img {
  width: 20px;
  padding-right: 10px;
}
.providerLogin button {
  display: flex;
  align-items: center;
  padding: 1px 20px;
  background: white;
  border: 1px solid rgb(196, 196, 196);
}
.providerLogin button:hover {
  background-color: rgb(207, 207, 207);
}
.providerLogin button p {
  color: black;
  letter-spacing: 0.3px;
}
