nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
}

nav img:nth-of-type(1) {
  width: 20px;
}

nav img:nth-of-type(2) {
  width: 15px;
}

nav img {
  cursor: pointer;
  padding: 30px 50px;
}

.sidebar {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  position: absolute;
  min-height: 80%;
  background-color: #f8f8f8;
  top: 80px;
  left: 0;
  z-index: 99;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 8px 0px 37px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 8px 0px 37px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 8px 0px 37px 2px rgba(0, 0, 0, 0.25);
}

.sidebar ul {
  list-style: none;
  padding-right: 80px;
}

.sidebar a {
  text-decoration: none;
  color: #22242b;
}

.sidebar li {
  padding: 20px 0;
}

.search {
  margin-top: 12px;
}

.search input {
  background: none;
}

.time {
  position: absolute;
  font-family: 'Bebas Neue', sans-serif;
  color: #6478d3;
  opacity: 5%;
  font-size: 30vh;
  z-index: -99;
  right: 15vw;
}
